{% extends "base.html" %}

{% block title %}To do List{% endblock %}

{% block content %}
<h1> {{ person.name }}'s To do List </h1>

{% if person.todos %}
    <ul>
        {% for i in todos %}
        <li>
            {{ i.todo }}
            <form action="{{ url_for('todos.update_todo', p_id = person.p_id, t_id = i.t_id)}}" method="POST">
                <input type="text" name="new_todo" required="required" placeholder="Change to-do">
                <input type="submit" value="Save">
            </form>
            <a href="{{ url_for('todos.delete_todo', p_id = person.p_id, t_id = i.t_id)}}">Delete to-do</a><br><br>
        </li>
        {% endfor %}
    </ul>
{% else %}
<p>"No tasks found. Add a new to-do to get started!"</p>
{% endif %}

<h2>Add a new to-do</h2>
<form action="{{ url_for('todos.add_todo', p_id = person.p_id) }}" method="POST">
    <input type="text" name="new_todo" required="required" placeholder="New To do">
    <input type="submit" value="Add">
</form>
{% endblock %}