{% extends "base.html" %}


{% block title%}Index{% endblock %}

{% block content%}
<h1>Persons</h1>
    <ul>
        {% for person in people%}
        <li>{{ person }} <a href="{{ url_for('details', id = person.p_id )}}">Details</a></li>
        {% endfor %}
    </ul>

<h2> New Person </h2>

    <form action="{{ url_for('index') }}" method="POST">
        <input type="text" name="name" required="required" placeholder="name"><br>
        <input type="number" name="age" placeholder="age"><br>
        <input type="text" name="job" placeholder="job"><br>
        <input type="submit" value="Create">
    </form>
    
{% endblock %}